{% extends 'obesity_home.html' %}

{% block content %}
<div class="container mt-5">
    <div class="highlight-card">
        <h2>Consejos Diarios</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Hidratación</h5>
                        <p>Bebe 2 litros de agua al día</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Sueño</h5>
                        <p>Duerme 7-8 horas diarias</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Control Médico</h5>
                        <p>Revisiones anuales obligatorias</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
